.body {
  width: 70%;
  min-width: 800px;
  margin: auto;
}

.about {
  .body;
  display: flex;
  top: -5rem;
  background-color: white;
  position: relative;
  box-shadow: 0rem 0.2rem 1rem 0.1rem #bbb;

  .left {
    flex: 1;
    padding: 1rem;
    margin-top: 2rem;
    video {
      width: 100%;
    }
  }

  .right {
    flex: 1;
    padding: 1rem;
    margin-top: 1rem;
    line-height: 1.5em;
    font-size: 1.05rem;
    img {
      margin-bottom: 1.5rem;
    }
  }

}

.intro{

  h2{
    text-align: center;
  }

  h4{
    line-height: 2em;
    .body;
  }

  .section{
    display: flex;
    justify-content: center;
    padding-top: 2rem;

    .body;

    .section1{
      flex: 1;

      img{
        width: 100%;
        padding: 0 30%;
        margin-bottom: 1rem;
      }

      .text{
        text-align: center;
        font-size: 0.8rem;
      }
    }

  }
}

.team{
  margin-top: 3rem;

  h2{
    text-align: center;
  }

  .section {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    .body;

    .section1{
      flex: 1;

      img{
        max-width: 100%;
      }
    }
  }
}

.map {
  height: 20rem;
  width: 100%;
  overflow: hidden;
  margin: 0;
  font-family: "微软雅黑";
}

.mapSub {
  position: relative;
  height: 0;
  bottom: 7rem;
  text-align: center;
  .body;

  .mapSub2 {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  img {
    height: 6rem;
  }
}
