<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="baidu-site-verification" content="6LfL04W0sl" />
  <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->

  <!-- 针对页面的简短描述（限制 150 字符）-->
  <!-- 在*某些*情况下，该描述是被用作搜索结果展示片段的一部分 -->
  <meta name="keywords" content="会员营销,精准营销系统,会员管理,汇员帮,会员精准营销">
  <meta name="description" content="汇员帮是一款专门为母婴连锁店打造的会员精准营销系统，系统依托营销数据模型精准分析会员消费行为，有效提升导购回访效率和会员价值最大化，专业的会员精准营销顾问咨询服务助力门店利润翻倍成长！">
  <!--<title>母婴门店会员精准营销帮手</title>-->
  <title>汇员帮-会员精准营销系统</title>
  <link rel="stylesheet" href="/index.css" />
  <!-- Polyfills -->
  <!--[if lt IE 10]>
  <script src="https://as.alipayobjects.com/g/component/??console-polyfill/0.2.2/index.js,es5-shim/4.5.7/es5-shim.min.js,es5-shim/4.5.7/es5-sham.min.js,es6-shim/0.35.1/es6-sham.min.js,es6-shim/0.35.1/es6-shim.min.js,html5shiv/3.7.2/html5shiv.min.js,media-match/2.0.2/media.match.min.js"></script>
  <![endif]-->
  <script src="https://as.alipayobjects.com/g/component/??es6-shim/0.35.1/es6-sham.min.js,es6-shim/0.35.1/es6-shim.min.js"></script>

  <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=yZ7YYouWI1IQo2y0WYGaHaTDoplDTYsk"></script>
</head>
<body style="font-family: 微软雅黑">
  <div id="root"></div>
</body>

</html>
